<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- SECURITY FIX: Minimize dangerous permissions - remove unused ones -->
    <!-- READ_PHONE_STATE only if property identification requires it -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"
         /> -->
    <!-- READ_PHONE_NUMBERS - HIGH RISK, removed unless absolutely necessary -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"
         /> -->
    <!-- READ_CONTACTS - Only if user references contacts for grievance -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"
        /> -->
    <!-- GET_ACCOUNTS - Remove, not needed for current functionality -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS"
        /> -->

    <!-- Required essential permissions only -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- PayU checkout SDK locks some activities to portrait and pulls in NFC/touch
         features implicitly, which Play Store then treats as required=true and
         filters out devices (landscape-only tablets/Chromebooks, non-touch,
         non-NFC devices) that don't support them. Mark these as not required. -->
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
    <uses-feature android:name="android.hardware.faketouch" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application tools:replace="android:label"
        android:label="eNagarSewa"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
